
 div {
   padding: 2px;
}

body {
   margin: 30px;
   font-size: 1.25em;
}

ul{
list-style-type:none;
}

table{
  width: 100%;
  height: 3em;
  text-align: center;
}

.heading-class{
   display: flex; 
  
  height: 15vmin;
  box-shadow: 0 4px 4px -2px #000000;
}

.title-class{
  font-size: 3em;	
}

.temperature-block{
  margin-left: 2px;
}

.dog-class{
   object-fit: cover;
  width: 100%;
  height: 450px;
  
}

.dog-at-bottom{
  padding-right: 5px; 
  
  width: 150px;
  height: auto;
  float: left;
  
}

.weather-img{
  width:  20%;
  height: 100%;
}

.weather-img-one {
  width: 30%;
}

.sunny{
width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
}

.dog-image-block{
position: relative;

}

.txt-on-img{
  
flex-wrap: wrap;
position: absolute;
bottom: 5px;
background: white;
margin-right: 4px;
margin-left: 2px;
margin-bottom: 2px;
}

.weekdays-table {
width: 100%;
height:290px;
}

.background-color-class {
  color: blue;
}

.class-to-align-text-left {
  text-align:left;
}

.class-to-align-text-right {
  text-align: right;
}

.temperature-location-font-class {
  font-size: 1em;
}

.footer{
  background-color:lightblue;
 border: 1px solid #dddddd;
 text-align: left;
 padding: 8px;
}

.temperature-sub-class {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.temperature-values {
  display: flex;
  justify-content: space-around;	
}

.temperature-font-class {
   display: flex;
   font-size: 2em;
   align-items: flex-end;
}
.celsius-class {
   font-size: 0.75em;
   
}
.latest-news {
  box-shadow: 0 4px 4px -2px #000000;

}

@media only screen and (max-width: 800px) {

  .dog-class{
     width: 100%;
     height: auto;
  }

  .news-content-block{
     
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     flex-wrap: wrap;
  }
  .dog-image-block{
     height: auto;
     width: 55%;
     order: 1;
  }
  .news-list-block{
     width: 100%;
     order: 3;
  }
  .table-block {
     width: 100%;
     order: 4;
  }
  .temperature-block{
     width: 42%;
     order: 2;
  }
  .txt-on-img{
   background: rgba(0,0,0,0.5);
   color: #f1f1f1;
     font-size: 0.5em;
  }
  .title-class {
     font-size: 30px;
  }
  .weather-img{
     width:  20%;
     height: 100%;
  }

  .temperature-values {
     font-size: 0.7em;
  }

  .temperature-location-font-class {
     font-size: 0.75em;
  }

  .temperature-font-class {
   font-size: 1em;
  }


  table {
     border-collapse: collapse;
  }

  
  tr:nth-child(even) {
     background-color: #f2f2f2;
   }
   .news-content-class {
      font-size: 0.8em;
   }
}

@media only screen and (max-width: 635px) {
  .news-content-block {
     margin: 2px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
  }
  .dog-image-block {
     width: 100%;
     order: 1;
  }
  .news-list-block {
     width: 100%;
     order: 2;
  }
  .table-block {
     width: 100%;
     order: 3;
  }
  .temperature-block {
     width: 100%;
     order: 4;
  }
  .txt-on-img{
     font-size: 0.75em;
     bottom: 0px;
  }
  .title-class{
     font-size: 30px;
  }
  .weather-img{
     width: auto;
     height: auto;
     margin-bottom: 0%; 
  }
  .temperature-values {
     font-size: 1em;
  }

}

@media only screen and (max-width: 400px) {
  .txt-on-img{
     font-size: 1.5vh;
     bottom: 0px;
  }

  .title-class {
     font-size: 1em;	
  }

  .first-line{
     font-size: 0.85em;
  }
}
